{% extends 'base.html.twig' %}

{% block contenu %}
    <section class="page-content">
        <header>
            <h1>Mes réalisations</h1><br>
            <p>
               Vous découvrirez içi des projets que j'ai réalisé avec des langages de programmations telsque
                PHP, JAVASCRIPT, HTML, CSS, la base de donnée MYSQL, Bootstrap, le CMS WORDPRESS, des projets avec le Framework Symfony 5.4.1.
            </p>

        </header>
    </section>


    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <img src="/assets/images/quizz.jpg" alt="Responsive image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">QUIZZ DROLE</h5>
                    <p class="card-text"> </p>
                    <a href="{{ path('app_quizz') }}" class="btn btn-primary">Voir le quizz</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img src="/assets/images/boutique.jpg" alt="Responsive image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Boutique en ligne réalisée avec Symfony 5</h5>
                    <p class="card-text"></p>
                    <a href="{{ path('app_boutique') }}" class="btn btn-primary">Voir la boutique</a>
                </div>
            </div>
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <img src="/assets/images/imc.jpg" alt="Responsive image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Calculateur IMC développé avec Symfony5</h5>
                    <p class="card-text"></p>
                    <a href="{{ path('app_imc') }}" class="btn btn-primary">Voir l'imc</a>
                </div>
            </div>
        </div>
        <br>
        <div class="col-sm-6">
            <div class="card">
                <img src="/assets/images/youtube.jpg" alt="Responsive image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Générateur de vidéos Youtube</h5>
                    <p class="card-text"></p>
                    <a href="{{ path('app_youtube') }}" class="btn btn-primary">Voir le générateur de vidéo</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <img src="/assets/images/calculatrice.jpg" alt="Responsive image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Calculatrice en HTML/CSS</h5>
                    <p class="card-text"></p>
                    <a href="{{ path('app_calculatrice') }}" class="btn btn-primary">Voir la calculatrice</a>
                </div>
            </div>
        </div>
        <br>
        <div class="col-sm-6">
            <div class="card">
                <img src="/assets/images/epicerie.jpg" alt="Responsive image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Boutique en ligne réalisé avec WooCommerce</h5>
                    <p class="card-text"></p>
                    <a href="http://epicerienaturelle.com/" class="btn btn-primary">Voir la boutique</a>
                </div>
            </div>
        </div>
    </div>
<br>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <img src="/assets/images/espacemembre.jpg" alt="Responsive image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Espace membre réalisé avec PHP/MYSQL</h5>
                    <p class="card-text"></p>
                    <a href="http://www.g-webdc.com/membres/index.php" class="btn btn-primary">Voir l'espace membre</a>
                </div>
            </div>
        </div><br>
        <div class="col-sm-6">
            <div class="card">
                <img src="/assets/images/multiplication2.jpg" alt="Responsive image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Table de multiplication réalisé avec Symfony 5</h5>
                    <p class="card-text"></p>
                    <a href="{{ path('app_multiplication') }}" class="btn btn-primary">Voir la table de multiplication</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
